<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Roberto Loja | roberto.loja@gmail.com</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <meta name="keywords" content=""></meta>
        <meta name="description" content=""></meta>
        <link rel="stylesheet" type="text/css" href="css/reset-fonts-grids.css" media="all"></link>
        <link rel="stylesheet" type="text/css" href="css/resume.css" media="all"></link>
</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
		<div id="hd" style="padding-bottom: 0px;">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Roberto Loja</h1>
					<h2>Junior Software Developer</h2>
				</div>
				<div class="yui-u" style="position: relative; top: -15px; line-height: 1.3; left: 40px; font-size: 105%;">
					<div class="contact-info">
						<h3><a href="mailto:roberto.loja@gmail.com">email</a></h3>
                        <h3><a href="http://robertoloja.duckdns.org">website</a></h3>
                        <h3><a href="http://github.com/robertoloja">github</a></h3>
                        <h3><a href="tel://6132996881">(613) 299-6881</a></h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Languages</h2>
						</div>
						<div class="yui-u" style="font-size: 125%;">
<%-- languages -->
						</div>
					</div><!--// .yui-gf-->
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Databases</h2>
						</div>
						<div class="yui-u" style="font-size: 125%;">
<%-- databases -->
						</div>
					</div><!--// .yui-gf-->



					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technologies</h2>
						</div>
						<div class="yui-u" style="font-size: 125%;">
<%-- technologies -->
						</div>
					</div><!--// .yui-gf-->


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Humber College Institute of Technology - Toronto, Ontario</h2>
							<h3>Computer Engineering Technology – 87% Cumulative GPA </h3>
							<span class="scholarship">Ontario Colleges Mathematics Association, John Wiley &amp; Sons &ndash; Excellence in Mathematics Award</span>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf last">
	
						<div class="yui-u first">
							<h2>Projects</h2>
						</div><!--// .yui-u -->

						<div class="yui-u last">



							<div class="job" style="padding-bottom: 60px; border: 0;">
                                <h2><a href="http://robertoloja.duckdns.org/smarthive">SmartHive</a></h2>
								<h3 style="padding-top: 5px;">Java, Python, Javascript</h3>
								<h4>Android, Web</h4>
                                <ul class="project" style="padding-left: 25px; padding-top: 10px;">
                                    <li style="border: none; list-style-type: circle; font-size: 1.3em; padding-bottom: 7px;">A platform for remote monitoring of key beehive metrics (weight, population, temperature, humidity).</li>
                                    <li style="border: none; list-style-type: circle; font-size: 1.3em; padding-bottom: 7px;">Sensor readings are gathered and normalized by a python program, then stored in a local mongo instance.</li>
                                    <li style="border: none; list-style-type: circle; font-size: 1.3em; padding-bottom: 7px;">When connectivity is available, the local Node.JS server uploads all new data to a remote Firebase instance.</li>
                                    <li style="border: none; list-style-type: circle; font-size: 1.3em; padding-bottom: 7px;">On the local network, a web interface provides realtime data visualization using D3.JS, served by the Express.JS server.</li>
                                    <li style="border: none; list-style-type: circle; font-size: 1.3em; padding-bottom: 7px;">An Android application is used for remotely monitoring multiple hives. User authentication is provided by Google's OAuth2, on both the web and native mobile clients.</li>
                                </ul>
							</div>

							<div class="job" style="padding-bottom: 60px; border: 0;">
                                <h2><a href="http://robertoloja.duckdns.org/bookinventory">Book Inventory</a></h2>
								<h3 style="padding-top: 5px;">Python (Django)</h3>
								<h4>Web</h4>
                                <ul class="project" style="padding-left: 25px; padding-top: 10px;">
                                    <li style="border: none; list-style-type: circle; font-size: 1.3em; padding-bottom: 7px;">A simple CRUD app for managing a personal library.</li>
                                    <li style="border: none; list-style-type: circle; font-size: 1.3em; padding-bottom: 7px;">A birthday gift for an unsophisticated, elderly user.</li>
                                </ul>
							</div>


						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->
	</div><!-- // inner -->
</div><!--// doc -->

</body></html>
